/font/
/live2d_related/
/pythonProject1/
/reference_audio/
/runtime/
/GPT_SoVITS/__pycache__
/GPT_SoVITS/AR/
/GPT_SoVITS/BigVGAN/
/GPT_SoVITS/configs/
/GPT_SoVITS/f5_tts/
/GPT_SoVITS/feature_extractor/
/GPT_SoVITS/module/
/GPT_SoVITS/pretrained_models/
/GPT_SoVITS/text/
/GPT_SoVITS/tools/
/GPT_SoVITS/training_dir
/GPT_SoVITS/TTS_infer_pack/
/GPT_SoVITS/8.py
/GPT_SoVITS/57.py
/GPT_SoVITS/audio_shiyan.py
/GPT_SoVITS/ffmpeg.exe
/GPT_SoVITS/test_danmu.py
/GPT_SoVITS/faulthandler_log.txt

**/.DS_Store
d_sakiko_config.json

.idea/**
.vscode/**
**/__pycache__/**
PyQt-Fluent-Widgets/**
knowledge_base/**