name: Build pyd file

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    name: build
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
         pip install --upgrade pip
         pip install Cython
      - name: Generate source file
        run: |
          python GPT_SoVITS/live2d_1_generate.py
        env:
          LIVE2D_KEY: ${{ secrets.LIVE2D_KEY }}
      - name: Build Pyd files
        run: python setup_live2d.py build_ext --inplace
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: live2d_1.cpython-311-darwin.so
          path: ./GPT_SoVITS/live2d_1.cpython-311-darwin.so
